<div class="center hero-unit">
<h1>Vacation Calendar</h1>
<p>This is the home page for the BIRS Vacation Schedule sample application</p>
<a href="#" class="btn btn-large btn-primary">Sign up now!</a>  
</div>
