<div class="center hero-unit">
  <h1>Welcome to the Vacation Calendar</h1>

  <h2>
    This is the home page for the
    STAFF Vacation Schedule
    sample application.
  </h2>
  <%= unless signed_in?
        link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" 
      end %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>