<li>
  <tr>
    <td><%= link_to employee.name, employee %></td>
  <% if current_user.admin? && !current_user?(employee) %>
    | 
    <td><%= link_to "delete", employee, method: :delete,
                                  data: { confirm: "You sure?" },
                                  class: "btn btn-danger btn-xs"  %>
    </td>
  <% end %>
  </tr>
</li>