<li>
  <div class="row">
  <div class="span2"><%= link_to employee.name, employee %></div>
   <% if current_user.admin? && !current_user?(employee) %>
    <div class="span2"><%= link_to "delete", employee, method: :delete,
                                  data: { confirm: "You sure?" },
                                  class: "btn btn-danger btn-small"  %>
    </div>
  <% end %>
  </div>
</li>