<li>
      <div class = <%= event.event_type.downcase %>>
          <div class="event_type">   <%= link_to event.event_type, event_path(event.id) %>          </div>
          <div class="timestamp">    Start: <%= event.start_date.to_formatted_s(:long) %> </div>
          <div class = "timestamp">  End:   <%= event.end_date.to_formatted_s(:long) %>   </div>
    </div>
</li>