<h1>Listing events</h1>
<% header = 1.days.from_now.to_date %>
<h2><%= header %></h2>
<% @events.each do |e|%>
  <% date = e.start_date.to_date %>
  <% if header < date %> 
      <% header = date %>
  <h2><%= header %> </h2>
  <% end %>
<li><%= e.employee.name %> | <%= e.event_type %> </li>
<% end %>