<h1>Listing events</h1>
<% header = 1.days.from_now.to_date %>
<h2><%= header.strftime("%A %B %d, %Y") %></h2>
<% @events.each do |e|%>
  <% date = e.start_date.to_date %>
  <% if header < date %> 
  <% header = date %>
  <h2><%= header.strftime("%A %B %d, %Y") %> </h2>
  <% end %>
  <div class="row">
    <div class="offset4">
    <li>
    <div class="span2"><%= e.employee.name %></div>
    <div class="span1"> | </div>
    <div class="span2"><%= e.event_type %> </div>
    </li>
    </div>
  </div>
<% end %>